@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins";
@import 'color';

* {
  font-family: "Poppins";
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0}

a.mat-menu-item {
  font-family: Poppins;
  color: $primary;
  font-weight: bold;
}
button.mat-menu-item:focus {
  outline: none;
}
